@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap");
@import "themes";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.small_button {
  background-color: $small_button_bg_color_1;
  box-shadow: 0 4px 0 0 $small_button_shadow_color_1;
}

@layer components {
  .box_radius {
    @apply rounded-lg;
  }

  .small_button,
  .del_button,
  .reset_button,
  .equal_button {
    @apply box_radius flex items-center justify-center pt-1.5 cursor-pointer;
  }

  .small_button,
  .del_button {
    @apply bg-slate-100;
  }

  .small_button {
    @apply text-slate-600;
  }

  .del_button,
  .reset_button {
    @apply text-2xl bg-slate-500;
  }

  .equal_button {
    @apply bg-red-500;
  }
}
