$page_bg_color_1: hsl(222, 26%, 31%);
$screen_bg_color_1: hsl(224, 36%, 15%);
$main_text_color_1: #fff;
// small button
$small_button_text_color_1: hsl(225, 21%, 49%);
$small_button_bg_color_1: #fff;
$small_button_shadow_color_1: #aaf;

$del_text_color_1: #8000ff;
$del_button_bg_color_1: #000;
$del_button_shadow_color_1: #000;
// equal button
$equal_text_color_1: #8000ff;

$small_button_bg_color_2: #00aaff;
$small_button_shadow_color_2: #aaf;
$reset_button_bg_color_2: #000;
$reset_button_shadow_color_2: #000;
