@import "colors";

.theme_1 {
  color: $main_text_color_1;
  background-color: $page_bg_color_1;
}

.theme_1 {
  .screen_bg {
    background-color: $screen_bg_color_1;
  }

  .small_button {
    color: $small_button_text_color_1;
    background-color: $small_button_bg_color_1;
    box-shadow: 0 4px 0 0 $small_button_shadow_color_1;
  }

  .del_button,
  .reset_button {
    color: $small_button_text_color_1;
    background-color: $del_button_bg_color_1;
    box-shadow: 0 4px 0 0 #88f;
  }

  .equal_button {
    box-shadow: 0 4px 0 0 #822;
  }

  .error_border {
    border-color: #f44 !important;
  }
}

.theme_2 {
  .small_button {
    background-color: $small_button_bg_color_2;
    box-shadow: 0 4px 0 0 $small_button_shadow_color_2;
  }
}
